{% extends "layout" %}

{% block content %}
<h2>{{ band.name }}</h2>
{{ band.genre }}
<h3>Tagok</h3>
<pre>
{{ band.members }}
</pre>
<h3>Honlap</h3>
<pre>
<a href="httpl://{{band.page}}">{{ band.page }}</a>
</pre>
<h3>Leírás</h3>
<pre>
{{ band.description }}
</pre>

<a href="/like/{{band.id}}">
{% if (band.likes) %}
Mégsem tetszik
{% else %}
Tetszik
{% endif %}
</a>
{% endblock %}