{% extends 'layout' %}

{% block title %}Zenekarok{% endblock %}
{% block content %}
  <form action="/bands" method="GET">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="inputBandName">Zenekar neve</label>
          <input type="text" class="form-control" placeholder="Név" id="inputBandName" name="bandName" value="{{ bandName }}">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>&nbsp;</label>
          <button class="btn btn-block btn-primary" type="submit">Szűrés</button>
        </div>
      </div>
    </div>
  </form>
  <h2>Találatok ({{ bands.total }})</h2>
  {% for bandBatch in bands.data | batch(3) %}
  <div class="row">
    {% for band in bandBatch %}
    <div class="col-md-4">
      <a class="result-item" href="/bands/{{ band.id }}">
        <div class="panel panel-default">
          <div class="panel-body">
            <strong>{{ band.name }}</strong><br>
            <em>{{ band.genre }}</em>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% else %}
  Nincs a szűrésnek megfelelő zenekar.
  {% endfor %}
  {% if bands.lastPage > 1 %}
  <div class="text-center">
    <ul class="pagination">
      {% for page in range(1, bands.lastPage + 1) %}
      {% if page == bands.currentPage %}
      <li class="active">
        <a href="/bands?p={{ page }}&amp;name={{ name }}">{{ page }}</a>
      </li>
      {% else %}
      <li><a href="/bands?p={{ page }}&amp;name={{ name }}">{{ page }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endblock %}
