{% extends "layout" %}

{% block content %}
    <div class="page-header">
    <h1>{{ band.name }}</h1>
    </div>
    {% if band.genre %}
        {{ band.genre }}
    {% endif %}
    {% if band.members %}
        <h3>Tagok</h3>
        <pre>{{ band.members }}</pre>
    {% endif %}
    {% if band.page %}
        <h3>Honlap</h3>
        <pre><a href="http://{{band.page}}" target="_blank">{{ band.page }}</a></pre>
    {% endif %}
    {% if band.description %}
        <h3>Leírás</h3>
        <pre>{{ band.description }}</pre>
    {% endif %}

    <a href="/like/{{band.id}}">
        {% if (band.likes) %}
            Mégsem tetszik
        {% else %}
            Tetszik
        {% endif %}
    </a>
{% endblock %}