{% extends 'layout' %}

{% block title %}Események{% endblock %}
{% block content %}
{% if currentUser and not currentUser.isBand %}
<div class="btn-group" role="group" aria-label="...">
  <a href="events?filter=bands"><button type="button" class="btn btn-default">Zenekarjaim</button></a>
  <a href="events?filter=myevents"><button type="button" class="btn btn-default">Részt veszek</button></a>
  <a href="events"><button type="button" class="btn btn-default">Összes</button></a>
</div>
<hr>
{% endif %}
{{ csrfField }}
  {% for event in events.data %}
  
    <div class="panel panel-default event-container">
      {% if currentUser and not currentUser.isBand %}
        <a href="#"><div class="pull-right event-attend {% if event.attends %}attends{% else %}not-attends{%endif%}" data-id="{{event.id}}"></div></a>
      {% endif %}
      <div class="panel-heading">
        <a href="/events/{{event.id}}"><h3 class="panel-title">{{ event.band.name }}</h3></a>
      </div>
      <div class="panel-body">
        {{ event.date }}<br/><a href="http://{{ event.tickets }}" target="_blank">{{ event.tickets }}</a><p class="description">{{ event.description }}</p>
      </div>
    </div>

  {% else %}
  Nincs közelgő esemény.
  {% endfor %}
  {% if events.lastPage > 1 %}
  <div class="text-center">
    <ul class="pagination">
      {% for page in range(1, events.lastPage + 1) %}
      {% if page == events.currentPage %}
      <li class="active">
        <a href="/events?p={{ page }}&amp;filter={{ filter }}">{{ page }}</a>
      </li>
      {% else %}
      <li><a href="/events?p={{ page }}&amp;filter={{ filter }}">{{ page }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endblock %}

{% block scripts %}
<script>

  function addAttendButton(attendContainer){
    var _class = $(attendContainer).hasClass('attends') ? 'remove' : 'ok'
    var attendButton = $(`<span class="glyphicon glyphicon-${_class}" aria-hidden="true"></span>`);
    attendButton.appendTo(attendContainer);

    attendButton.on('click',function(ev){
      ev.preventDefault();
      var event_id=$(this).parent().data('id')

      const headers = { 
          'csrf-token': $('[name="_csrf"]').val() 
      } 

      $.ajax({ 
        url: '/events/ajaxAttend', 
        method: 'POST', 
        dataType: 'json',
        headers, 
        data:{
          event_id: event_id,
          user_id: '{{currentUser.id}}'
        }
      }).done(function (data) {
            $(attendContainer).removeClass('attends not-attends').addClass(data.attends)
            $(attendButton).removeClass('glyphicon-ok glyphicon-remove').addClass('glyphicon-'+data.class)
      }).fail(function (err) { 
           alert(err) 
      }) 
    })
  }

  $('.event-attend').each(function(){
    addAttendButton(this)
  })
  
</script>
{% endblock %}