{% extends "layout" %}

{% block content %}
    {% if currentUser and currentUser.isBand%}
        <div class="pull-right">
            <a href="/events/edit/{{event.id}}"><button type="button" class="btn btn-primary">Szerkesztés</button></a>
            <a href="/events/delete/{{event.id}}"><button type="button" class="btn btn-danger" id="deleteButton">Törlés</button></a>
        </div>
      {% endif %}
<div class="page-header">
  <h1>{{ event.band.name }} <small>{{ event.date }}</small></h1>
</div>
<h3>Jegyek</h3>
<a href="http://{{ event.tickets}}">{{event.tickets}}</a>
<h3>Leírás</h3>
<pre>{{ event.description }}</pre>
{%if currentUser and not currentUser.isband%}
    <a href="/attend/{{event.id}}">
    {% if (event.attends) %}
        Mégsem veszek részt
    {% else %}
        Részt veszek
    {% endif %}
    </a>
{% endif %}

{% if currentUser and currentUser.isBand %}
<div class="modal fade confirm-modal" tabindex="-1" role="dialog" id="deleteConfirmModal"> 
    <div class="modal-dialog modal-sm" role="document"> 
        <div class="modal-content"> 
            <div class="modal-body"> 
                Biztosan törölni szeretnéd az eseményt? 
            </div> 
            <div class="modal-footer"> 
                <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">Igen</button> 
                <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button> 
            </div> 
        </div> 
    </div> 
</div> 
{% endif %}

{% endblock %}

{% block scripts %}
<script>
    $('#deleteButton').on('click',function(ev){
        ev.preventDefault();

        var _resolve = function () { 
            window.location.replace("/events/delete/{{event.id}}");
        }

        var _reject = function () { 
            modal.modal('hide'); 
        }

        var modal = $('#deleteConfirmModal'); 
        modal.modal('show'); 
        modal.find('.modal-ok').on('click', _resolve) 
        modal.find('.modal-cancel').on('click', _reject) 
    })
    
</script>
{% endblock %}