{% extends 'layout' %}

{% block title %}Események{% endblock %}
{% block content %}
{% if currentUser and not currentUser.isBand %}
<div class="btn-group" role="group" aria-label="...">
  <a href="events?filter=bands"><button type="button" class="btn btn-default">Zenekarjaim</button></a>
  <a href="events?filter=myevents"><button type="button" class="btn btn-default">Részt veszek</button></a>
  <a href="events"><button type="button" class="btn btn-default">Összes</button></a>
</div>
<hr>
{% endif %}
  {% for event in events.data %}
  
    <div class="panel panel-default event-container">
      <div class="panel-heading">
        <a href="/events/{{event.id}}"><h3 class="panel-title">{{ event.band.name }}</h3></a>
      </div>
      <div class="panel-body">
        {{ event.date }}<br/><a href="http://{{ event.tickets }}" target="_blank">{{ event.tickets }}</a><p class="description">{{ event.description }}</p>
      </div>
    </div>

  {% else %}
  Nincs közelgő esemény.
  {% endfor %}
  {% if events.lastPage > 1 %}
  <div class="text-center">
    <ul class="pagination">
      {% for page in range(1, events.lastPage + 1) %}
      {% if page == events.currentPage %}
      <li class="active">
        <a href="/events?p={{ page }}&amp;filter={{ filter }}">{{ page }}</a>
      </li>
      {% else %}
      <li><a href="/events?p={{ page }}&amp;filter={{ filter }}">{{ page }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endblock %}