{% extends "layout" %}

{% block content %}
    {% if currentUser and currentUser.isBand%}
        <div class="pull-right">
            <a href="/events/edit/{{event.id}}"><button type="button" class="btn btn-primary">Szerkesztés</button></a>
            <a href="/events/delete/{{event.id}}"><button type="button" class="btn btn-danger">Törlés</button></a>
        </div>
      {% endif %}
<div class="page-header">
  <h1>{{ event.band.name }} <small>{{ event.date }}</small></h1>
</div>
<h3>Jegyek</h3>
<a href="http://{{ event.tickets}}">{{event.tickets}}</a>
<h3>Leírás</h3>
<pre>{{ event.description }}</pre>
{%if currentUser and not currentUser.isband%}
    <a href="/attend/{{event.id}}">
    {% if (event.attends) %}
        Mégsem veszek részt
    {% else %}
        Részt veszek
    {% endif %}
    </a>
{% endif %}
{% endblock %}